{{ define "content" }}
<div class="row">
    <div class="col-md-12">
        <form class="form-inline my-2 my-lg-0" method="GET" action="/inventory/export/order">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="fa fa-download"></span>
                Download</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Waktu</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Nama Barang</th>
                    <th scope="col">Jumlah Keluar</th>
                    <th scope="col">Harga Jual</th>
                    <th scope="col">Total</th>
                    <th scope="col">Catatan</th>
                </tr>
            </thead>
            <tbody>
                {{ range $key, $value := .Data }}
                <tr>
                    <td>{{- Field $value "DateStr" }}</td>
                    <td>{{- Field $value "Product|Sku" }}</td>
                    <td>{{- Field $value "Product|Name" }}</td>
                    <td>{{- Field $value "Quantity" }}</td>
                    <td>{{- Field $value "Price" }}</td>
                    <td>{{- Field $value "Total" }}</td>
                    <td>{{- Field $value "Description" }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}